.ImageAndTextCtaSection {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 70px 0px;
  align-items: center;
}

.ImageAndTextCtaSection.reverse {
  flex-direction: row-reverse;
}

.ImageAndTextCtaSection .imageContainer {
  width: 45%;
}

.ImageAndTextCtaSection .imageContainer img {
  width: 100%;
  min-height: 340px;
  max-height: 500px;
  object-fit: cover;
}

.textContainer {
  text-align: left;
  width: 45%;
}

.textContainer h5 {
  text-transform: uppercase;
  font-size: 13px;
  color: #f96623;
  /* #002147 */
}

.textContainer h2 {
  font-size: 38px;
  color: #002147;
}

.textContainer a {
  margin: 20px 0px;
  float: right;
}

.descriptionText {
  font-size: 14px;
  color: #6d6d6d;
  font-weight: 400;
  line-height: 2em;
}

@media screen and (max-width: 750px) {
  .ImageAndTextCtaSection {
    flex-direction: column;
  }
  .ImageAndTextCtaSection .imageContainer,
  .textContainer {
    width: 75%;
  }
  .ImageAndTextCtaSection.reverse {
    flex-direction: column-reverse;
  }
  .heroSecCta.revserse {
    float: right !important;
  }
}

@media screen and (max-width: 450px) {
  .textContainer h2 {
    font-size: 24px;
  }
  .ImageAndTextCtaSection .imageContainer {
    margin: 15px 0px;
  }
  .ImageAndTextCtaSection .imageContainer,
  .textContainer {
    width: 90%;
  }
}
